<!-- Introduction -->
<section>
    <h1>Javascript MVC</h1>
    <h2>Good practices & principles</h2>
</section>
<section>
    <p>Ceci n'est pas Angular / Backbone / Knockout</p>
    <p>&nbsp;</p>
    <div class="fragment">
        <p>This presentation is </p>
        <h2>framework agnostic</h2>
    </div>
</section>
<section>
    <h2>About me</h2>
</section>
