<!-- Introduction -->
<section>
    <h1><span style="color: rebeccapurple">M</span>VC</h1>
    <h2>Model</h2>
</section>
<section>
    <h2>&lt;form&gt; as data source</h2>
    <div data-markdown class="fragment">
        <script type="text/template">
```
function validateForm() {
    if ($("input#name").val() == "") {
        return "Name is required";
    }
}
function calculateSum() {
    var sum = 0;
    $("input.price").each(function(item) {
        var value = item.val();
        if (!isNaN(value)) {
            sum = sum + item.val();
        }
    });
    $("input#sum").val(sum);
}
```
        </script>
    </div>
</section>
<section>
    <h2>Hidden input !?</h2>
    <div data-markdown class="fragment">
        <script type="text/template">
```
<input type="hidden" id="sum" />
```
        </script>
    </div>
    <img class="fragment" src="images/mime.png" />
</section>
<section>
    <h2>When data changes...</h2>
    <div data-markdown class="fragment">
        <script type="text/template">
```
    $("input").on("change", validateForm);
    $("select#category").on("change", populateSubcategories);
```
        </script>
    </div>
</section>
<section>
    <h2>And finally... AJAX</h2>
    <div data-markdown class="fragment">
        <script type="text/template">
```
$.post("/contactForm", {
    name: $("input#name").val(),
    email: $("input#email").val()
});
```
        </script>
    </div>
</section>
<section>
    <img src="images/datasource-form.png" style="border: none" width="600" />
</section>
<section>
    <h2>Don'ts</h2>

    <div data-markdown class="fragment">
        <script type="text/template">
```
<input type="hidden" />
```
        </script>
    </div>
    <p></p>
    <div data-markdown class="fragment">
        <script type="text/template">
```
<input type="text" value="Matthew" />
```
        </script>
    </div>
    <p></p>
    <div data-markdown class="fragment">
        <script type="text/template">
```
$("input#name").on("change", function() {
    // Do something other then updating the model
});
```
        </script>
    </div>
</section>
<section>
    <img src="images/datasource-model.png" style="border: none" width="600" />
</section>
<section>
    <h2>Do's</h2>
    <p class="fragment">Use data binding for your forms</p>
    <p class="fragment">Allow your model to have initial data, not the form.<br />
        <small>The first step in data binding is updating your form with the model data</small></p>
    <p class="fragment">Use your model to interact with the data</p>
    <p class="fragment">Use an event system to listen for changes to the model</p>
</section>
<section>
    <h2>A model would like this</h2>
    <div data-markdown>
        <script type="text/template">
```
// js/model/ContactModel.js
var MyApp = MyApp || {};
MyApp.ContactModel = function() {
}

MyApp.ContactModel.prototype.validate = function() {
}
```
        </script>
    </div>
    <div class="fragment">
        <p>Tip: decorate the model with an event system (ie. Backbone.Event)</p>
    </div>
</section>
