<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My presentation template</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="reveal.js/css/reveal.css">
    <link rel="stylesheet" href="reveal.js/css/theme/moon.css" id="theme">
    <link rel="stylesheet" href="css/css-screen.css">
</head>

<body>
<div class="reveal">
    <div class="slides">
        <section>
            <h1>Title of the presentation</h1>
            <p>After 2 seconds the first fragment will be shown.</p>
        </section>
        <section>
            <p>After 2 seconds the first fragment will be shown.</p>
        </section>
        <section>
            <p>After 2 seconds the first fragment will be shown.</p>
        </section>
        <section>
            <p>After 2 seconds the first fragment will be shown.</p>
        </section>

    </div>
</div>
<script src="reveal.js/lib/js/head.min.js"></script>
<script src="reveal.js/js/reveal.js"></script>
<script src="js/app.js"></script>
</body>
</html>