<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My presentation template</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="reveal.js/css/reveal.css">
    <link rel="stylesheet" href="reveal.js/css/theme/moon.css" id="theme">
    <link rel="stylesheet" href="css/css-screen.css">
    <link rel="stylesheet" href="reveal.js/lib/css/zenburn.css">
</head>

<body>
<div class="reveal">
    <div class="slides">
        {% include 'slides/introduction.html.twig' %}
        {% include 'slides/controller.html.twig' %}
        {% include 'slides/view.html.twig' %}
        {% include 'slides/model.html.twig' %}
    </div>
</div>
<script src="reveal.js/lib/js/head.min.js"></script>
<script src="reveal.js/js/reveal.js"></script>
<script src="js/app.js"></script>
</body>
</html>